@charset "utf-8";
/* filled in information */
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Diego Sandoval
   Date:   10/23/18
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
/* set the height of the html. Made the body takeup 95% of the page, and made it so it had a min and max width, and set the margins and min height. Made the header, ul, nav, li, a have a border box. */
html {
    height: 100%;
}

body {
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin: 0 auto;
    min-height: 100%;
}

header,
ul,
nav,
li,
a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Row Styles */
/* set up style to have rows. */
.row::after {
    clear: both;
    content: "";
    display: table;
}

/* Page Header Styles */
/* Made the header image take up 70% of the header and float left. */
header.row img {
    display: block;
    width: 70%;
    float: left;
}

/* Horizontal Navigation List Styles */
/* set up the header navigation bar so it would be horizontal, and display nicely. */
body header.row nav {
    float: left;
    padding: 0% 2%;
    width: 30%;
}

body header.row nav a {
    display: block;
    width: 100%;
    color: white;
}

nav.horizontal li {
    display: block;
    width: 12.5%;
    float: left;
}

/* Topics Styles */
/* set up the unorder list that has the topics to be horizontal, then made it have space between the end list items and the sides of the body. then made the images appear in the senter of the list items. */
body ul#topics li {
    display: block;
    width: 20%;
    float: left;
    margin-left: 0;
    margin-right: 1.5%;
}

body ul#topics li#topic1 {
    margin-left: 7.75%;
}

body ul#topics li#topic4 {
    margin-right: 7.75%;
}

body ul#topics li img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

/* HR Styles */
/* made the Horizontal Rule take up only half the page. */
hr {
    width: 50%;
}

/* Customer Comment Styles */
/* Put the comment into two columns. Then resized the images to fit better. Spaced out each comment. and set the images to be center on the list item. */
body ul#comments {
    width: 75%;
    margin: 40px auto;
}

body ul#comments li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

body ul#comments li img {
    display: block;
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

body ul#comments li p {
    float: left;
    width: 70%;
}

/* Footer Styles */
/* sets the footer on its own row */
footer {
    clear: both;
}